# Local/private config goes in the include
[include]
    path = ~/.gitconfig.local
[hub]
    protocol = https
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    editor = vi
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[help]
    autocorrect = 1
[push]
    # See `git help config` (search for push.default)
    # for more information on different options of the below setting.
    #
    # Setting to git 2.0 default to suppress warning message
    default = simple
[pull]
	rebase = false
[user]
	name = paul-fastpay
    email = paul@gofastpay.com

# using delta
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
